@import "tailwindcss";

@theme {
  --font-staatliches: "Staatliches";
  --font-montserrat: "Montserrat";
  --color-themeYellow: "#F4E024";
  --color-themeBlue: "#1CDFD3";
  --color-themePink: "#DA09AC";
  --color-themeDarkGray: "#4E4E4E";
  --color-themeMediumGray: "#BABABA";
  --color-themeLightGray: "#F3F3F3";
}

@layer base {
  body {
    @apply font-montserrat;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-staatliches;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-xl;
  }
  p {
    @apply my-4;
  }
  li {
    @apply list-disc;
    @apply mb-4 ml-4;
  }
  a {
    @apply text-themePink;
    @apply hover:text-themeDarkGray;
  }
}
