@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind variants;

@layer base {
  body {
    @apply font-montserrat;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-staatliches;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-xl;
  }
  p {
    @apply my-4;
  }
  li {
    @apply list-disc;
    @apply mb-4 ml-4;
  }
  a {
    @apply text-themePink;
    @apply hover:text-themeDarkGray;
  }
}
